@model OnlineBOM.Models.OpportunityBOMItemsViewModel
@{
    ViewBag.Title = "BOMList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row col-xl-12 py-2">
    <div class="col-xl-1 col-md-1 mb-4 ">
        <p>
            @Html.ActionLink("Back To Quote", "Edit", new { QuoteNo = Model.QuoteNo })
        </p>
        @if (Model.ViewBOM == false && Model.ClosedDate == "")
        {
            <p>
                @Html.ActionLink("Refresh BOM", "GetBOMList", new { OpportunityID = Model.OpportunityID, BOMID = Model.BOMID, QuoteNo = Model.QuoteNo, Name = Model.BOM, NewBOM = true, ViewBOM = false, PMView = false })
            </p>
        }
    </div>
    <div class="col-xl-5 col-md-6 mb-4 py-4">
        <!-- Success Alert -->
        <div class="alert alert-success" id="Sucessful" style="display:none;">
            <strong>BOM Saved Sucessfully ! </strong>
        </div>
        <!-- Error Alert -->
        <div class="alert alert-danger" id="Error" style="display:none;">
            <strong>Error!</strong> Error saving records!
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-1">
        <div class="card border-left-success shadow h-100 py-1">
            <div class="col-sm">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Grand Total ($) </div>
                <div id="GrandTotal" class="h5 mb-0 font-weight-bold text-gray-800">
                    @{var gtformat = String.Format("{0:###,##0.00}", Model.GrandTotal);}
                    @Html.DisplayFor(modelItem => Model.GrandTotal, gtformat)
                </div>
            </div>
            <div class="col-sm">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total After Discount ($) </div>
                <div id="GrandTotalAfterDiscount" class="h5 mb-0 font-weight-bold text-gray-800">
                    @if (Model.Discount > 0)
                    {@String.Format("{0:c}", @Html.DisplayFor(modelItem => Model.GrandTotalAfterDiscount))}
                else
                { @String.Format("{0:c}", @Html.DisplayFor(modelItem => Model.GrandTotal))}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-2">
        <div class="card border-right shadow h-100 ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1  ">Discount % </div>
                        @{var disformated = String.Format("{0:0.00}", Model.Discount);}
                        @Html.TextBoxFor(m => m.Discount, disformated, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-sm">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1  ">Final Agreed Price $</div>
                        @{var fpformated = String.Format("{0:0.00}", Model.FinalAgreedPrice);}
                        @Html.TextBoxFor(m => m.FinalAgreedPrice, fpformated, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-1 col-md-1 mb-1 ">
        <div class="row">
            <div class="row align-content-lg-center px-5">
                @if (Model.ViewBOM == false)
                {
                    <div class="align-content-center ">
                        <button type="button" id="btnSave" class="btn btn-success">Save BOM</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="BOM">
    @{
        if (TempData["Categories"] != null)
        {
            List<string> Categories = new List<string>();
            Categories = (List<string>)TempData["Categories"];

            foreach (var Category in Categories)
            {
                int currentConsummableCount = 0;
                int currentAdditionalConsummableCount = 0;
                int LengthConsummable = (int)TempData["CountOfConsumable"];
                List<string> _Subcategory = new List<string>();
                string MainDivID = "MainDiv" + Category;
                string CardShowDivID = "CardShowDiv" + Category;
                string CollapseDivID = "CollapseDiv" + Category;
                string CategoryToShow = Category.Trim().ToLower().Equals("Device".Trim().ToLower()) ? Model.ItemMasterName : Category;
                string _ClassOfDiv = Category.Trim().ToLower().Equals("Device".Trim().ToLower()) ? "collapse show" : "collapse";
                string TableID = "tbl" + Category;

                <div class="card" id="@MainDivID">
                    <div class="card shadow mb-4 " id="@CardShowDivID">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@CollapseDivID" aria-expanded="true" aria-controls="@CollapseDivID">
                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @CategoryToShow
                                </a>
                            </button>
                        </h5>
                    </div>
                    <div id="@CollapseDivID" class="@_ClassOfDiv" aria-labelledby="@CardShowDivID" data-parent="#BOM">
                        <div class="card-body">
                            <div id="table" class="table-editable">
                                <fieldset id="SubmitQuote">
                                    <table id="@TableID" class="table table-bordered table-responsive-md table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="display:none">OpportunityID </th>
                                                <th class="text-center" style="display:none">OpportunityBOMListID</th>
                                                <th class="text-center" style="display:none">BOMID</th>
                                                <th class="text-center" style="display:none">BOMItemID</th>
                                                <th class="text-center" style="display:none">Category</th>
                                                <th class="text-center">MatthewsCode</th>
                                                <th class="text-center">Description</th>
                                                <th class="text-center">Qty</th>
                                                <th class="text-center">UnitPrice</th>
                                                <th class="text-center" style="display:none">PriceCalc</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center" style="display:none">IsDiscountApply</th>
                                                <th class="text-center" style="display:none">Discount</th>
                                                <th class="text-center" style="display:none">AfterDiscount</th>
                                                <th class="text-center" style="display:none">MaximumQty</th>
                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                {
                                                    <th class="text-center" style="display:none">Stock Level</th>
                                                }
                                                else
                                                {
                                                    <th class="text-center">Stock Level</th>
                                                }
                                                <th class="text-center" style="display:none">State</th>
                                                <th class="text-center" style="display:none">IsInTotal</th>
                                                <th class="text-center" style="display:none">IsDecimalAllowed</th>
                                            </tr>
                                        </thead>
                                        <tbody class="body">
                                            @foreach (var item in Model.BOMListViewModel)
                                            {
                                                if (item.Category.Trim().ToLower().Equals(Category.Trim().ToLower()))
                                                {
                                                    int ind = _Subcategory.FindIndex(p => p.ToLower().Equals(item.SubCategory.ToLower()));
                                                    if (item.SubCategory.Trim().Length > 0 && ind < 0)
                                                    {
                                                        _Subcategory.Add(item.SubCategory);
                                                        <tr>
                                                            <td colspan="20">
                                                                <div class="card">
                                                                    <div class="card shadow mb-4" style="margin-bottom: 0px !important;">
                                                                        <h5 class="mb-0">
                                                                            <button class="btn btn-link" aria-expanded="false" data-attr="btnSub" data-id="Subtr_@item.SubCategory">
                                                                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                                    @item.SubCategory
                                                                                </a>
                                                                            </button>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                    if (!(item.Category.Trim().ToLower().Equals("Consumables".ToLower())))
                                                    {
                                                        <tr id="Subtr_@item.SubCategory">
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                            <td class="pt-3-half" contenteditable="false"><div id="someotherelement"></div> @Html.DisplayFor(modelItem => item.MatthewsCode)</td>
                                                            <td class="pt-3-half" contenteditable="false"> @Html.DisplayFor(modelItem => item.Description)</td>
                                                            @if (@item.IsQtyFixed == true)
                                                            {
                                                                <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                    @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                    @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                                                </td>
                                                            }
                                                            <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                            <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                            @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                            {
                                                                <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                            }
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                            <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                        </tr>
                                                    }

                                                    if (item.Category.Trim().ToLower().Equals("Consumables".ToLower()))
                                                    {
                                                        ++currentConsummableCount;
                                                        //Model._LstTblCons_Solv_Clnr
                                                        if (currentConsummableCount == 1)
                                                        {
                                                            <tr id="Subtr_@item.SubCategory">
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <div id="DrpDwnConsummable_ItemID"></div>
                                                                </td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <select id="DrpDwnConsummable" style=" width: 100%;font-weight: bold;">
                                                                        @{
                                                                            foreach (var itemCnSmClnrSlvntRltion in Model._LstTbl_PrntHd_Cons_Solv_Clnr)
                                                                            {
                                                                                <option value="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableID"
                                                                                        data-PriceOfConsummable="@itemCnSmClnrSlvntRltion.Price" data-QtyOfConsummable="@itemCnSmClnrSlvntRltion.Quantity"
                                                                                        data-SolventID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventID" data-SolventDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventDesc"
                                                                                        data-SolventPrice="@itemCnSmClnrSlvntRltion.SolventPrice" data-SolventQty="@itemCnSmClnrSlvntRltion.SolventQuantity"
                                                                                        data-cleanerID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerID" data-cleanerDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerDesc"
                                                                                        data-CleanerPrice="@itemCnSmClnrSlvntRltion.CleanerPrice" data-CleanerQty="@itemCnSmClnrSlvntRltion.CleanerQuantity"
                                                                                        data-CompatiblePrintHeads="@itemCnSmClnrSlvntRltion._CompatiblePrintHeads" data-attr="Option_DrpDwnConsummable">
                                                                                    @itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableDesc
                                                                                </option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </td>
                                                                @if (@item.IsQtyFixed == true)
                                                                {
                                                                    <td class="allownumeric" contenteditable="false" align="center">
                                                                        <div id="DrpDwnConsummable_Qty"></div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="allownumeric" contenteditable="true" align="center">
                                                                        <div id="DrpDwnConsummable_Qty"></div>
                                                                    </td>


                                                                }
                                                                <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_Price"></div></td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" align="right">
                                                                    <div id="DrpDwnConsummable_FinalPrice">8888</div>
                                                                </td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>

                                                            </tr>
                                                            <tr id="Subtr_@item.SubCategory">
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <div id="DrpDwnConsummable_SolventItemID">
                                                                    </div>
                                                                </td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <div id="DrpDwnConsummable_SolventDesc"></div>
                                                                </td>
                                                                @if (@item.IsQtyFixed == true)
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                        <div id="DrpDwnConsummable_SolventQty"></div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                        <div id="DrpDwnConsummable_SolventQty"></div>
                                                                    </td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_SolventPrice">0000</div></td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" align="right">  <div id="DrpDwnConsummable_SolventFinalPrice">0000</div></td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                            </tr>
                                                            <tr id="Subtr_@item.SubCategory">
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <div id="DrpDwnConsummable_CleanerItemID">
                                                                    </div>
                                                                </td>
                                                                <td class="pt-3-half" contenteditable="false">
                                                                    <div id="DrpDwnConsummable_CleanerItemDesc">
                                                                    </div>
                                                                </td>
                                                                @if (@item.IsQtyFixed == true)
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                        <div id="DrpDwnConsummable_CleanerQty"></div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                        <div id="DrpDwnConsummable_CleanerQty"></div>
                                                                    </td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_CleanerPrice">0000</div></td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" align="right">  <div id="DrpDwnConsummable_CleanerFinalPrice">0000</div></td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                            </tr>
                                                        }

                                                        if (item.SubCategory == "Additional Consumables")
                                                        {
                                                            ++currentAdditionalConsummableCount;
                                                            if (currentAdditionalConsummableCount == 1)
                                                            {
                                                                <tr id="Subtr_@item.SubCategory">
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <div id="DrpDwnConsummable_Additional_ItemID"></div>
                                                                    </td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <select id="DrpDwnConsummable_Additional" style=" width: 100%;font-weight: bold;">
                                                                            @{
                                                                                foreach (var itemCnSmClnrSlvntRltion in Model._LstTbl_PrntHd_Cons_Solv_Clnr)
                                                                                {
                                                                                    <option value="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableID"
                                                                                            data-PriceOfConsummable_Additional="@itemCnSmClnrSlvntRltion.Price" data-QtyOfConsummable_Additional="@itemCnSmClnrSlvntRltion.Quantity"
                                                                                            data-SolventID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventID" data-SolventDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventDesc"
                                                                                            data-SolventPrice="@itemCnSmClnrSlvntRltion.SolventPrice" data-SolventQty="@itemCnSmClnrSlvntRltion.SolventQuantity"
                                                                                            data-cleanerID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerID" data-cleanerDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerDesc"
                                                                                            data-CleanerPrice="@itemCnSmClnrSlvntRltion.CleanerPrice" data-CleanerQty="@itemCnSmClnrSlvntRltion.CleanerQuantity"
                                                                                            data-CompatiblePrintHeads="@itemCnSmClnrSlvntRltion._CompatiblePrintHeads" data-attr="Option_DrpDwnConsummable_Additional">
                                                                                        @itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableDesc
                                                                                    </option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                    @if (@item.IsQtyFixed == true)
                                                                    {
                                                                        <td class="allownumeric" contenteditable="false" align="center">
                                                                            <div id="DrpDwnConsummable_Additional_Qty"></div>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="allownumeric" contenteditable="true" align="center">
                                                                            <div id="DrpDwnConsummable_Additional_Qty"></div>
                                                                        </td>


                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_Additional_Price"></div></td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                    <td class="pt-3-half" contenteditable="false" align="right">
                                                                        <div id="DrpDwnConsummable_Additional_FinalPrice">8888</div>
                                                                    </td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                    @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>

                                                                </tr>
                                                                <tr id="Subtr_@item.SubCategory">
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <div id="DrpDwnConsummable_Additional_SolventItemID">
                                                                        </div>
                                                                    </td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <div id="DrpDwnConsummable_Additional_SolventDesc"></div>
                                                                    </td>
                                                                    @if (@item.IsQtyFixed == true)
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                            @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                            <div id="DrpDwnConsummable_Additional_SolventQty"></div>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                            @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                            <div id="DrpDwnConsummable_Additional_SolventQty"></div>
                                                                        </td>
                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_Additional_SolventPrice">0000</div></td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                    <td class="pt-3-half" contenteditable="false" align="right">  <div id="DrpDwnConsummable_Additional_SolventFinalPrice">0000</div></td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                    @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                                </tr>
                                                                <tr id="Subtr_@item.SubCategory">
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <div id="DrpDwnConsummable_Additional_CleanerItemID">
                                                                        </div>
                                                                    </td>
                                                                    <td class="pt-3-half" contenteditable="false">
                                                                        <div id="DrpDwnConsummable_Additional_CleanerItemDesc">
                                                                        </div>
                                                                    </td>
                                                                    @if (@item.IsQtyFixed == true)
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                            @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                            <div id="DrpDwnConsummable_Additional_CleanerQty"></div>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                            @*@Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })*@
                                                                            <div id="DrpDwnConsummable_Additional_CleanerQty"></div>
                                                                        </td>
                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" align="right"> <div id="DrpDwnConsummable_Additional_CleanerPrice">0000</div></td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                    <td class="pt-3-half" contenteditable="false" align="right">  <div id="DrpDwnConsummable_Additional_CleanerFinalPrice">0000</div></td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                    @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                    }
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                    <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                                </tr>

                                                                @*<tr id="Subtr_@item.SubCategory">
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                <td class="pt-3-half" contenteditable="false">
                                    <div id="DrpDwnConsummable_Additional_ItemID"></div>
                                </td>
                                <td class="pt-3-half" contenteditable="false">
                                    <select id="DrpDwnConsummable_Additional" style=" width: 100%;font-weight: bold;">
                                        @{
                                            foreach (var itemCnSmClnrSlvntRltion in Model._LstTbl_PrntHd_Cons_Solv_Clnr)
                                            {
                                                <option value="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableID"
                                                        data-SolventID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventID" data-SolventDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.SolventDesc"
                                                        data-cleanerID="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerID" data-cleanerDesc="@itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.CleanerDesc"
                                                        data-CompatiblePrintHeads="@itemCnSmClnrSlvntRltion._CompatiblePrintHeads" data-attr="Option_DrpDwnConsummable_Additional">
                                                    @itemCnSmClnrSlvntRltion._ConS_SolV_ClnR.ConsummableDesc
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                                @if (@item.IsQtyFixed == true)
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center">  @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })</td>
                                }
                                else
                                {
                                    <td class="allownumeric" contenteditable="true" align="center">  @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })</td>
                                }
                                <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                else
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                            </tr>
                            <tr id="Subtr_@item.SubCategory">
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                <td class="pt-3-half" contenteditable="false">
                                    <div id="DrpDwnConsummable_Additional_SolventItemID"></div>
                                </td>
                                <td class="pt-3-half" contenteditable="false"> <div id="DrpDwnConsummable_Additional_SolventDesc"></div> </td>
                                @if (@item.IsQtyFixed == true)
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                    </td>
                                }
                                else
                                {
                                    <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                    </td>
                                }
                                <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                else
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                            </tr>
                            <tr id="Subtr_@item.SubCategory">
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                <td class="pt-3-half" contenteditable="false">
                                    <div id="DrpDwnConsummable_Additional_CleanerItemID"></div>
                                </td>
                                <td class="pt-3-half" contenteditable="false"><div id="DrpDwnConsummable_Additional_CleanerItemDesc"></div> </td>
                                @if (@item.IsQtyFixed == true)
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                    </td>
                                }
                                else
                                {
                                    <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                    </td>
                                }
                                <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                else
                                {
                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                }
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                            </tr>*@
                                                            }
                                                        }

                                                        if (currentConsummableCount > 1 && item.SubCategory != "Additional Consumables" && item.SubCategory != "Startup Kit")
                                                        {
                                                            <tr id="Subtr_@item.SubCategory">
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                                <td class="pt-3-half" contenteditable="false"><div id="someotherelement"></div> @Html.DisplayFor(modelItem => item.MatthewsCode)</td>
                                                                <td class="pt-3-half" contenteditable="false"> @Html.DisplayFor(modelItem => item.Description)</td>
                                                                @if (@item.IsQtyFixed == true)
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="allownumeric" contenteditable="true" align="center" data-type="@item.Category" data-PrintHeadID="@item.MatthewsCode">
                                                                        @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })
                                                                    </td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                                }
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                                <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>
                                                            </tr>
                                                        }

                                                        if (currentConsummableCount == LengthConsummable)
                                                        {
                                                            <!--Inserted after the last tr-->
                                                            <tr>
                                                                <td colspan="5">

                                                                    <div class="form-group">
                                                                        @Html.LabelFor(model => model.InkUsage, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                        <div class="col-md-10">
                                                                            @Html.EditorFor(model => model.InkUsage, new { htmlAttributes = new { @class = "form-control" } })
                                                                            @Html.ValidationMessageFor(model => model.InkUsage, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<div class="modal fade" id="modelFinancialReview">
    <div class="modal-dialog" style="background: #fff">
        <div class=" modal-content" style="width:100%">
            <div class="modal-header font-weight-bold text-primary text-uppercase mb-1 ">Finance Review </div>
            <div class="modal-body" id="modelbody">
                <form id="form">
                    <fieldset id="submitforma">
                        <div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/OnlineBOM/QuoteBOM/QuoteBOM.js">
    </script>
}
<script>
    $(document).ready(function () {
        $("button[data-attr='btnSub']").click(function () {
            var DataAttr = $(this).attr('data-id');
            $("tr[id='" + DataAttr + "']").each(function () {
                $(this).toggle();
            });
        });

        $('#DrpDwnConsummable').change(function () {
            var GetItemIDOfCOns = $(this).find(':selected').val();
            $('#DrpDwnConsummable_ItemID').html(GetItemIDOfCOns);
            var GetPriceConsummable = $(this).find(':selected').attr('data-PriceOfConsummable');
            $('#DrpDwnConsummable_Price').html(GetPriceConsummable);
            var GetQtyOfConsummable = $(this).find(':selected').attr('data-QtyOfConsummable');
            $('#DrpDwnConsummable_Qty').html(GetQtyOfConsummable);
            var GetFinalPrice = parseFloat(GetPriceConsummable) * parseFloat(GetQtyOfConsummable);
            $('#DrpDwnConsummable_FinalPrice').html(GetFinalPrice);


            var GetSolventID = $(this).find(':selected').attr('data-SolventID');
            $('#DrpDwnConsummable_SolventItemID').html(GetSolventID);
            var GetSolventDesc = $(this).find(':selected').attr('data-SolventDesc');
            $('#DrpDwnConsummable_SolventDesc').html(GetSolventDesc);
            var GetPriceConsummableSolvent = $(this).find(':selected').attr('data-SolventPrice');
            $('#DrpDwnConsummable_SolventPrice').html(GetPriceConsummableSolvent);
            var GetQtyOfConsummableSolvent = $(this).find(':selected').attr('data-SolventQty');
            $('#DrpDwnConsummable_SolventQty').html(GetQtyOfConsummableSolvent);
            var GetFinalPriceSolvent = parseFloat(GetPriceConsummableSolvent) * parseFloat(GetQtyOfConsummableSolvent);
            $('#DrpDwnConsummable_SolventFinalPrice').html(GetFinalPriceSolvent);

            var GetcleanerID = $(this).find(':selected').attr('data-cleanerID');
            $('#DrpDwnConsummable_CleanerItemID').html(GetcleanerID);
            var GetcleanerDesc = $(this).find(':selected').attr('data-cleanerDesc');
            $('#DrpDwnConsummable_CleanerItemDesc').html(GetcleanerDesc);
            var GetPriceConsummableCleaner = $(this).find(':selected').attr('data-CleanerPrice');
            $('#DrpDwnConsummable_CleanerPrice').html(GetPriceConsummableCleaner);
            var GetQtyOfConsummableCleaner = $(this).find(':selected').attr('data-CleanerQty');
            $('#DrpDwnConsummable_CleanerQty').html(GetQtyOfConsummableCleaner);
            var GetFinalPriceCleaner = parseFloat(GetPriceConsummableCleaner) * parseFloat(GetQtyOfConsummableCleaner);
            $('#DrpDwnConsummable_CleanerFinalPrice').html(GetFinalPriceCleaner);
        });

       
        $('#DrpDwnConsummable_Additional').change(function () {
            var GetItemIDOfCOns = $(this).find(':selected').val();
            $('#DrpDwnConsummable_Additional_ItemID').html(GetItemIDOfCOns);
            var GetPriceConsummable_Additional = $(this).find(':selected').attr('data-PriceOfConsummable_Additional');
            $('#DrpDwnConsummable_Additional_Price').html(GetPriceConsummable_Additional);
            var GetQtyOfConsummable_Additional = $(this).find(':selected').attr('data-QtyOfConsummable_Additional');
            $('#DrpDwnConsummable_Additional_Qty').html(GetQtyOfConsummable_Additional);
            var GetFinalPrice = parseFloat(GetPriceConsummable_Additional) * parseFloat(GetQtyOfConsummable_Additional);
            $('#DrpDwnConsummable_Additional_FinalPrice').html(GetFinalPrice);


            var GetSolventID = $(this).find(':selected').attr('data-SolventID');
            $('#DrpDwnConsummable_Additional_SolventItemID').html(GetSolventID);
            var GetSolventDesc = $(this).find(':selected').attr('data-SolventDesc');
            $('#DrpDwnConsummable_Additional_SolventDesc').html(GetSolventDesc);
            var GetPriceConsummable_AdditionalSolvent = $(this).find(':selected').attr('data-SolventPrice');
            $('#DrpDwnConsummable_Additional_SolventPrice').html(GetPriceConsummable_AdditionalSolvent);
            var GetQtyOfConsummable_AdditionalSolvent = $(this).find(':selected').attr('data-SolventQty');
            $('#DrpDwnConsummable_Additional_SolventQty').html(GetQtyOfConsummable_AdditionalSolvent);
            var GetFinalPriceSolvent = parseFloat(GetPriceConsummable_AdditionalSolvent) * parseFloat(GetQtyOfConsummable_AdditionalSolvent);
            $('#DrpDwnConsummable_Additional_SolventFinalPrice').html(GetFinalPriceSolvent);

            var GetcleanerID = $(this).find(':selected').attr('data-cleanerID');
            $('#DrpDwnConsummable_Additional_CleanerItemID').html(GetcleanerID);
            var GetcleanerDesc = $(this).find(':selected').attr('data-cleanerDesc');
            $('#DrpDwnConsummable_Additional_CleanerItemDesc').html(GetcleanerDesc);
            var GetPriceConsummable_AdditionalCleaner = $(this).find(':selected').attr('data-CleanerPrice');
            $('#DrpDwnConsummable_Additional_CleanerPrice').html(GetPriceConsummable_AdditionalCleaner);
            var GetQtyOfConsummable_AdditionalCleaner = $(this).find(':selected').attr('data-CleanerQty');
            $('#DrpDwnConsummable_Additional_CleanerQty').html(GetQtyOfConsummable_AdditionalCleaner);
            var GetFinalPriceCleaner = parseFloat(GetPriceConsummable_AdditionalCleaner) * parseFloat(GetQtyOfConsummable_AdditionalCleaner);
            $('#DrpDwnConsummable_Additional_CleanerFinalPrice').html(GetFinalPriceCleaner);
        });

        //Change event of the quantity of the device/printers
        $("td[data-type='Device'").change(function () {
            //Loop throgh the DDL Options containing all the printheads compatible
            $('option[data-attr="Option_DrpDwnConsummable"]').each(function (index) {
                //Create the list of print heads
                var GetPrintHead = $(this).attr('data-CompatiblePrintHeads').split(';');
                var HideThisOption = true;

                for (i = 0; i < GetPrintHead.length; i++) {

                    if (GetPrintHead[i].trim().length > 0) {
                        //Check the Qty of this PrintHead
                        var GetQtyOfThisPrintHd = parseFloat($("td[data-PrintHeadID='" + GetPrintHead[i] + "'").html());
                        if (GetQtyOfThisPrintHd > 0) {
                            HideThisOption = false;
                        }
                    }
                }

                if (HideThisOption) {
                    if ($(this).parents('span').html() == undefined) {
                        $(this).wrap('<span/>');
                        debugger;
                    }
                } else {
                    if ($(this).parents('span').html() != undefined) {
                        $(this).unwrap();
                        debugger;
                    }
                }
            });
        });
    });
</script>