@model OnlineBOM.Models.OpportunityBOMItemsViewModel
@{
    ViewBag.Title = "BOMList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-xl-12 py-2">
    <div class="col-xl-1 col-md-1 mb-4 ">
        <p>
            @Html.ActionLink("Back To Quote", "Edit", new { QuoteNo = Model.QuoteNo })
        </p>
        @if (Model.ViewBOM == false && Model.ClosedDate == "")
        {
            <p>
                @Html.ActionLink("Refresh BOM", "GetBOMList", new { OpportunityID = Model.OpportunityID, BOMID = Model.BOMID, QuoteNo = Model.QuoteNo, Name = Model.BOM, NewBOM = true, ViewBOM = false, PMView = false })
            </p>
        }
    </div>
    <div class="col-xl-5 col-md-6 mb-4 py-4">
        <!-- Success Alert -->
        <div class="alert alert-success" id="Sucessful" style="display:none;">
            <strong>BOM Saved Sucessfully ! </strong>
        </div>
        <!-- Error Alert -->
        <div class="alert alert-danger" id="Error" style="display:none;">
            <strong>Error!</strong> Error saving records!
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-1">
        <div class="card border-left-success shadow h-100 py-1">

            <div class="col-sm">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Grand Total ($) </div>
                <div id="GrandTotal" class="h5 mb-0 font-weight-bold text-gray-800">
                    @{var gtformat = String.Format("{0:###,##0.00}", Model.GrandTotal);}
                    @Html.DisplayFor(modelItem => Model.GrandTotal, gtformat)
                </div>
            </div>

            <div class="col-sm">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total After Discount ($) </div>
                <div id="GrandTotalAfterDiscount" class="h5 mb-0 font-weight-bold text-gray-800">
                    @if (Model.Discount > 0)
                    {@String.Format("{0:c}", @Html.DisplayFor(modelItem => Model.GrandTotalAfterDiscount))}
                else
                { @String.Format("{0:c}", @Html.DisplayFor(modelItem => Model.GrandTotal))}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-2">
        <div class="card border-right shadow h-100 ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1  ">Discount % </div>
                        @{var disformated = String.Format("{0:0.00}", Model.Discount);}
                        @Html.TextBoxFor(m => m.Discount, disformated, new { @class = "form-control", @type = "number" })
                    </div>

                    <div class="col-sm">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1  ">Final Agreed Price $</div>
                        @{var fpformated = String.Format("{0:0.00}", Model.FinalAgreedPrice);}
                        @Html.TextBoxFor(m => m.FinalAgreedPrice, fpformated, new { @class = "form-control", @type = "number" })
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-1 col-md-1 mb-1 ">
        <div class="row">
            <div class="row align-content-lg-center px-5">
                @if (Model.ViewBOM == false)
                {
                    <div class="align-content-center ">
                        <button type="button" id="btnSave" class="btn btn-success">Save BOM</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="BOM">
    @{
        if (TempData["Categories"] != null)
        {
            List<string> Categories = new List<string>();
            Categories = (List<string>)TempData["Categories"];

            foreach (var Category in Categories)
            {
                List<string> _Subcategory = new List<string>();
                string MainDivID = "MainDiv" + Category;
                string CardShowDivID = "CardShowDiv" + Category;
                string CollapseDivID = "CollapseDiv" + Category;
                string CategoryToShow = Category.Trim().ToLower().Equals("Device".Trim().ToLower()) ? Model.ItemMasterName : Category;
                string _ClassOfDiv = Category.Trim().ToLower().Equals("Device".Trim().ToLower()) ? "collapse show" : "collapse";
                string TableID = "tbl" + Category;

                <div class="card" id="@MainDivID">
                    <div class="card shadow mb-4 " id="@CardShowDivID">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@CollapseDivID" aria-expanded="true" aria-controls="@CollapseDivID">
                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @CategoryToShow
                                </a>
                            </button>
                        </h5>
                    </div>

                    <div id="@CollapseDivID" class="@_ClassOfDiv" aria-labelledby="@CardShowDivID" data-parent="#BOM">
                        <div class="card-body">
                            <div id="table" class="table-editable">
                                <fieldset id="SubmitQuote">
                                    <table id="@TableID" class="table table-bordered table-responsive-md table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="display:none">OpportunityID </th>
                                                <th class="text-center" style="display:none">OpportunityBOMListID</th>
                                                <th class="text-center" style="display:none">BOMID</th>
                                                <th class="text-center" style="display:none">BOMItemID</th>
                                                <th class="text-center" style="display:none">Category</th>
                                                <th class="text-center">MatthewsCode</th>
                                                <th class="text-center">Description</th>
                                                <th class="text-center">Qty</th>
                                                <th class="text-center">UnitPrice</th>
                                                <th class="text-center" style="display:none">PriceCalc</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center" style="display:none">IsDiscountApply</th>
                                                <th class="text-center" style="display:none">Discount</th>
                                                <th class="text-center" style="display:none">AfterDiscount</th>
                                                <th class="text-center" style="display:none">MaximumQty</th>
                                                @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                {
                                                    <th class="text-center" style="display:none">Stock Level</th>
                                                }
                                                else
                                                {
                                                    <th class="text-center">Stock Level</th>
                                                }
                                                <th class="text-center" style="display:none">State</th>
                                                <th class="text-center" style="display:none">IsInTotal</th>
                                                <th class="text-center" style="display:none">IsDecimalAllowed</th>

                                            </tr>
                                        </thead>
                                        <tbody class="body">
                                            @foreach (var item in Model.BOMListViewModel)
                                            {
                                                if (item.Category.Trim().ToLower().Equals(Category.Trim().ToLower()))
                                                {
                                                    int ind = _Subcategory.FindIndex(p => p.ToLower().Equals(item.SubCategory.ToLower()));
                                                    if (item.SubCategory.Trim().Length > 0 && ind < 0)
                                                    {
                                                        _Subcategory.Add(item.SubCategory);
                                                        <tr>
                                                            <td colspan="20">

                                                                <div class="card">
                                                                    <div class="card shadow mb-4" style="margin-bottom: 0px !important;">
                                                                        <h5 class="mb-0">
                                                                            <button class="btn btn-link" aria-expanded="false" data-attr="btnSub" data-id="Subtr_@item.SubCategory">
                                                                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                                    @item.SubCategory
                                                                                </a>
                                                                            </button>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr id="Subtr_@item.SubCategory">

                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityID) </td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.OpportunityBOMListID)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMID)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.BOMItemID)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Category)</td>
                                                        <td class="pt-3-half" contenteditable="false"><div id="someotherelement"></div> @Html.DisplayFor(modelItem => item.MatthewsCode)</td>
                                                        <td class="pt-3-half" contenteditable="false"> @Html.DisplayFor(modelItem => item.Description)</td>
                                                        @if (@item.IsQtyFixed == true)
                                                        {
                                                            <td class="pt-3-half" contenteditable="false" align="center">  @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="allownumeric" contenteditable="true" align="center">  @Html.DisplayFor(modelItem => item.Qty, new { @class = "sell-price calc-list", @type = "number" })</td>
                                                        }

                                                        <td class="pt-3-half" contenteditable="false" align="right"> @Html.DisplayFor(modelItem => item.ItemPrice, "{0:0.00}")</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                        <td class="pt-3-half" contenteditable="false" align="right">  @Html.DisplayFor(modelItem => item.Price, "{0:0.00}")</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDiscountApply)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.Discount)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.AfterDiscount)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.MaximumQty)</td>
                                                        @if (Model.ViewBOM == false && Model.ClosedDate == "")
                                                        {
                                                            <td class="pt-3-half" contenteditable="false" align="center" style="display:none"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="pt-3-half" contenteditable="false" align="center"> @Html.DisplayFor(modelItem => item.Stock)</td>
                                                        }
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.State)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsInTotal)</td>
                                                        <td class="pt-3-half" contenteditable="false" style="display:none"> @Html.DisplayFor(modelItem => item.IsDecimalAllowed)</td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<div class="modal fade" id="modelFinancialReview">
    <div class="modal-dialog" style="background: #fff">
        <div class=" modal-content" style="width:100%">
            <div class="modal-header font-weight-bold text-primary text-uppercase mb-1 ">Finance Review </div>
            <div class="modal-body" id="modelbody">
                <form id="form">
                    <fieldset id="submitforma">
                        <div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/OnlineBOM/QuoteBOM/QuoteBOM.js">
    </script>
}

<script>
    $(document).ready(function () {
        $("button[data-attr='btnSub']").click(function () {
            debugger;
            var DataAttr = $(this).attr('data-id');
            $("tr[id='" + DataAttr + "']").each(function () {
                $(this).toggle();
            });
        });

    });
</script>