@model OnlineBOM.Models.QuoteViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div>
        @Html.ActionLink("Back To Lead List", "Index")
    </div>

    <div class="row">
        <!-- Content Column -->
        <div class="col-xl-12 col-lg-7">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lead Details</h6>
                </div>

                @*'--------------Tab Navigation '*@
                <div class="row">
                    <div class="card-body col-xl-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill shadow mb-4 card-body" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active text-xs font-weight-bold text-primary text-uppercase mb-1 " id="nav-cover-tab" data-toggle="tab" href="#nav-cover" role="tab" aria-controls="nav-cover" aria-selected="true">Cover</a>
                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="nav-BOM-tab" data-toggle="tab" href="#nav-BOM" role="tab" aria-controls="nav-BOM" aria-selected="false">BOM</a>
                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="nav-pickingslip-tab" data-toggle="tab" href="#nav-pickingslip" role="tab" aria-controls="nav-pickingslip" aria-selected="false">BOM Summary</a>
                                <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="nav-PMComments-tab" data-toggle="tab" href="#nav-PMComments" role="tab" aria-controls="nav-PMComments" aria-selected="false">Comments</a>
                                @*<a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="nav-documents-tab" data-toggle="tab" href="#nav-documents" role="tab" aria-controls="nav-documents" aria-selected="false">Documents</a>*@
                            </div>
                        </nav>


                        <div class="tab-content  px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-cover" role="tabpanel" aria-labelledby="nav-cover-tab">
                                <div class="card" id="BOM">
                                    <div class="card shadow mb-4 " id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-primary text-uppercase mb-1">Assembly Details</a>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#BOM">
                                        <div class="card-body">

                                            @{
                                                Html.RenderPartial("Assembly");
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="CustomerDetails">
                                    <div class="card shadow mb-4" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-primary text-uppercase mb-1">Customer Details </a>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#BOM">
                                        <div class="card-body">
                                            @{
                                                Html.RenderPartial("Customer");
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="ConsumablesForecast">
                                    <div class="card shadow mb-4" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-primary text-uppercase mb-1">Consumable Forecast</a>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#BOM">
                                        <div class="card-body">

                                            @{
                                                Html.RenderPartial("Consumables");
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="TerritorySplit">
                                    <div class="card shadow mb-4" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-primary text-uppercase mb-1">Territory Split</a>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#BOM">
                                        <div class="card-body">

                                            @{
                                                Html.RenderPartial("TerritorySplit");
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="FinancialReview">
                                    <div class="card shadow mb-4" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-primary text-uppercase mb-1">Financial Review</a>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#BOM">
                                        <div class="card-body">

                                            @{
                                                Html.RenderPartial("FinancialReview");
                                            }


                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="CHOPFeedback">
                                    <div class="card shadow mb-4" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick="CallAjax();return false;">
                                                <a class="nav-item nav-link text-xs font-weight-light text-uppercase mb-1">CHOP Feedback</a>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#BOM">
                                        <div class="card-body">
                                            @{
                                                Html.RenderPartial("CHOPComments");
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-BOM" role="tabpanel" aria-labelledby="nav-BOM-tab">
                                <div class="row">
                                    <div class="col-xl-10">
                                    </div>
                                    <div class="col-xl-2">
                                        <!--Add New BOM MODAL Starts-->
                                        <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="AnchAddNewBOM" data-toggle="modal" data-target="#ADDBOMModal"
                                           style="cursor:pointer;">Add New BOM</a>

                                        <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="AnchOnlyActiveBoms" style="cursor:pointer;">Show Only Active BOMs</a>
                                        <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="AnchAllBoms" style="cursor:pointer;display:none">Show All BOMs</a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="ADDBOMModal" tabindex="-1" role="dialog" aria-labelledby="ADDBOMModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ADDBOMModalLabel">Add BOM</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-xl-4">
                                                                Select BOM Type
                                                            </div>
                                                            <div class="col-xl-8">
                                                                @{
                                                                    if (ViewBag._ObjBOM != null)
                                                                    {
                                                                        List<DataLibrary.Model.BOM.BOM> _objBOM = new List<DataLibrary.Model.BOM.BOM>();
                                                                        _objBOM = ViewBag._ObjBOM;
                                                                        <select class="form-control" id="SelectBOMs">
                                                                            @foreach (var item in _objBOM)
                                                                            {
                                                                                <option value="@item._ID">@item._BOM</option>
                                                                            }
                                                                        </select>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary" id="btnAddNewBOM">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Add New BOM Modal ENds-->
                                        <!-------------------------------------------------------------->
                                        <!--Add New BOM Active Confirmation Modal Starts-->
                                        <a class="nav-item nav-link text-xs font-weight-bold text-primary text-uppercase mb-1" id="AnchAddNewBOM_ActiveConfirmation"
                                           data-toggle="modal" data-target="#ADDBOMModal_ActiveConfirm"
                                           style="cursor:pointer;"></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="ADDBOMModal_ActiveConfirm" tabindex="-1" role="dialog" aria-labelledby="ADDBOMModalLabel_ActiveConfirm" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ADDBOMModalLabel_ActiveConfirm">Confirm</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                Do you wish to make this new BOM active?
                                                                Doing so will deactivate the current BOM.
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnAddNewBOM_ActiveConfirmNo" data-BOMID="0" data-OppID="0">No</button>
                                                        <button type="button" class="btn btn-primary" id="btnAddNewBOM_ActiveConfirmYes" data-BOMID="0" data-OppID="0">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Add New BOM Active Confirmation Modal Ends-->
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xl-12">

                                        <table id="tblLineProfile1" class="table table-striped table-bordered">
                                            <thead>

                                                <tr>
                                                    <th style="display:none">
                                                        QuoteID
                                                    </th>
                                                    <th style="display:none">
                                                        BOMID
                                                    </th>
                                                    <th style="display:none">
                                                        OpportunityBOMListID
                                                    </th>

                                                    <th class="text-center">
                                                        BOM
                                                    </th>
                                                    <th class="text-center">
                                                        BOM Total($)
                                                    </th>

                                                    <th class="text-center">
                                                        Discount%
                                                    </th>

                                                    <th class="text-center">
                                                        After Discount($)
                                                    </th>

                                                    <th class="text-center">
                                                        Agreed Price($)
                                                    </th>

                                                    <th class="text-center">
                                                        Sales BOM
                                                    </th>
                                                    <th class="text-center">
                                                        Updated BOM
                                                    </th>
                                                    <th class="text-center">
                                                        View BOM
                                                    </th>
                                                    <th class="text-center">
                                                        BOM Download
                                                    </th>
                                                    <th class="text-center">
                                                        Status
                                                    </th>
                                                    <th class="text-center">

                                                    </th>
                                                    <th class="text-center">

                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.BOMListModel)
                                                {
                                                    string ID = item.BOMID + "_" + item.OpportunityID + "_" + item.VersionNum;
                                                    <tr id="tr_@ID">
                                                        <td style="display:none">
                                                            @Html.DisplayFor(modelItem => item.OpportunityID)
                                                        </td>
                                                        <td style="display:none">
                                                            @Html.DisplayFor(modelItem => item.BOMID)
                                                        </td>

                                                        <td style="display:none">
                                                            @Html.DisplayFor(modelItem => item.OpportunityBOMListID)
                                                        </td>
                                                        <td align="center">
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>

                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => item.TotalPrice)
                                                        </td>

                                                        <td align="center">
                                                            @Html.DisplayFor(modelItem => item.Discount)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => item.PriceAfterDiscount)
                                                        </td>

                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => item.FinalAgreedPrice)
                                                        </td>

                                                        @*Sales BOM*@
                                                        <td align="center">

                                                            @if (Model.ClosedDate != "")
                                                            {
                                                                @*@Html.ActionLink("Closed", "GetBOMList"
                                                                    , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = false, ViewBOM = true, PMView = false, VersionNum = item.VersionNum }
                                                                    , new { data_SalesStatus = "Closed", data_attr = "BOM_SalesStatusAnchor", data_BOMID = item.BOMID, data_OpprID = item.OpportunityID })*@
                                                                <a href="#" data-bomid="@item.BOMID" data-opprid="@item.OpportunityID" data-salesstatus="Closed" data-attr="BOM_SalesStatusAnchor" data-VersionNum="@item.VersionNum" data-IsActive="@item.IsActive">Closed</a>

                                                            }

                                                            @if (item.FinalAgreedPrice > 0 && Model.ClosedDate == "")
                                                            {
                                                                @Html.ActionLink("Edit BOM", "GetBOMList"
                                                               , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = false, ViewBOM = false, PMView = false, VersionNum = item.VersionNum }
                                                               , new { data_SalesStatus = "Edit", data_attr = "BOM_SalesStatusAnchor", data_BOMID = item.BOMID, data_OpprID = item.OpportunityID, data_VersionNum = item.VersionNum, data_IsActive = item.IsActive })
                                                            }

                                                            @if (Model.ClosedDate == "" && item.FinalAgreedPrice <= 0)
                                                            {
                                                                @Html.ActionLink("New BOM", "GetBOMList"
                                                               , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = true, ViewBOM = false, PMView = false, VersionNum = item.VersionNum }
                                                               , new { data_SalesStatus = "New", data_attr = "BOM_SalesStatusAnchor", data_BOMID = item.BOMID, data_OpprID = item.OpportunityID, data_VersionNum = item.VersionNum, data_IsActive = item.IsActive })
                                                            }
                                                        </td>

                                                        @*Updated BOM*@
                                                        <td align="center">
                                                            @if (@Model.ClosedDate != "" && item.FinalAgreedPrice > 0)
                                                            {

                                                                @Html.ActionLink("Edit BOM", "GetBOMList"
                                                               , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = false, ViewBOM = false, PMView = true, VersionNum = item.VersionNum })
                                                            }
                                                        </td>

                                                        @*View BOM*@
                                                        <td align="center">
                                                            @if (item.FinalAgreedPrice > 0)
                                                            {
                                                                if (@Model.ClosedDate == "")
                                                                {
                                                                    @Html.ActionLink("Pre Sales BOM", "GetBOMList"
                                                                   , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = false, ViewBOM = true, PMView = false, VersionNum = item.VersionNum })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Post Sales BOM", "GetBOMList"
                                                                   , new { OpportunityID = Model.QuoteID, BOMID = item.BOMID, QuoteNo = Model.QuoteNo, Name = item.Name, NewBOM = false, ViewBOM = true, PMView = true, VersionNum = item.VersionNum })
                                                                }
                                                            }
                                                        </td>

                                                        @*Download BOM*@
                                                        <td align="center">
                                                            @if (item.FinalAgreedPrice > 0)
                                                            {
                                                                if (@Model.ClosedDate == "")
                                                                {
                                                                    @Html.ActionLink("Download", "BOMDownloadPDF"
                                                                   , new { OpportunityID = item.OpportunityID, BOMID = item.BOMID, Name = item.Name, PMView = false, VersionNum = item.VersionNum })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Download", "BOMDownloadPDF"
                                                                   , new { OpportunityID = item.OpportunityID, BOMID = item.BOMID, Name = item.Name, PMView = true, VersionNum = item.VersionNum })
                                                                }

                                                            }

                                                        </td>
                                                        <td>
                                                            @{
                                                                if (item.IsActive)
                                                                {
                                                                    <div>
                                                                        Active
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div>
                                                                        In-Active
                                                                    </div>
                                                                }
                                                            }

                                                        </td>


                                                        <td>
                                                            @{
                                                                if (@Model.ClosedDate == "" && item.FinalAgreedPrice > 0)
                                                                {
                                                                    <a class="nav-item nav-link text-xs font-weight-bold text-primary mb-1 text-uppercase" id="AnchDeleteBOM"
                                                                       data-toggle="modal" data-target="#DeleteBOMModal" data-TargetOps="DeleteBOM"
                                                                       style="cursor: pointer;" onclick='SetDeleteAttributes(@item.BOMID,@item.OpportunityID,@item.VersionNum)'>Delete</a>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (!item.IsActive)
                                                                {
                                                                    <a class="nav-item nav-link text-xs font-weight-bold text-primary mb-1 text-uppercase" id="AnchActivateInActivateBOM"
                                                                       data-toggle="modal" data-target="#ActivateInActivate_BOMModal" data-TargetOps="DeleteBOM"
                                                                       style="cursor: pointer;" onclick='SetActivateInActivate_Attributes(@item.BOMID,@item.OpportunityID,@item.VersionNum)'>Activate</a>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-pickingslip" role="tabpanel" aria-labelledby="nav-pickingslip-tab">

                                <div class="row">
                                    <div class="col-xl-2">
                                    </div>

                                    <div class="col-xl-8">

                                        <table id="tblPickingSlip" class="table table-striped table-bordered">
                                            <thead>

                                                <tr>
                                                    <th style="display:none">
                                                        QuoteID
                                                    </th>
                                                    <th style="display:none">
                                                        BOMID
                                                    </th>
                                                    <th style="display:none">
                                                        OpportunityBOMListID
                                                    </th>

                                                    <th class="text-center">
                                                        BOM
                                                    </th>
                                                    <th class="text-center">
                                                        Total Value($)
                                                    </th>

                                                    <th class="text-center">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.BOMListModel)
                                                {
                                                    if (item.TotalPrice > 0)
                                                    {
                                                        <tr>
                                                            <td style="display:none">
                                                                @Html.DisplayFor(modelItem => item.OpportunityID)
                                                            </td>
                                                            <td style="display:none">
                                                                @Html.DisplayFor(modelItem => item.BOMID)
                                                            </td>

                                                            <td style="display:none">
                                                                @Html.DisplayFor(modelItem => item.OpportunityBOMListID)
                                                            </td>
                                                            <td align="center">
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>

                                                            <td align="right">
                                                                @Html.DisplayFor(modelItem => item.TotalPrice)
                                                            </td>


                                                            <td align="center">
                                                                @if (item.TotalPrice > 0)
                                                                {
                                                                    if (@Model.ClosedDate == "")
                                                                    {
                                                                        @Html.ActionLink("Download", "PickingListDownload", new { OpportunityID = item.OpportunityID, BOMID = item.BOMID, Name = item.Name, PMView = false })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.ActionLink("Download", "PickingListDownload", new { OpportunityID = item.OpportunityID, BOMID = item.BOMID, Name = item.Name, PMView = true })
                                                                    }
                                                                }

                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-PMComments" role="tabpanel" aria-labelledby="nav-PMComments-tab">

                                <div class="card-body">

                                    @{
                                        Html.RenderPartial("PMComments");
                                    }

                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">

                                Documents
                            </div>

                        </div>
                    </div>


                </div>


            </div>

        </div>

    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="DeleteBOMModal" tabindex="-1" role="dialog" aria-labelledby="DeleteBOMModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteBOMModalLabel">Delete BOM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            Please confirm if you want to mark this BOM as deleted?
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnDeleteBOM" class="btn btn-primary"
                            data-bomid="0" data-OppID="0" data-VersionNum="0">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Activate/DeActivate Modal -->
    <div class="modal fade" id="ActivateInActivate_BOMModal" tabindex="-1" role="dialog" aria-labelledby="ActivateInActivate_BOMModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ActivateInActivate_BOMModalLabel">Delete BOM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            Please confirm if you want to Activate this BOM?
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnActivateInActivate_BOM" class="btn btn-primary"
                            data-bomid="0" data-OppID="0" data-VersionNum="0">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelFinancialReview">
        <div class="modal-dialog" style="background: #fff">
            <div class=" modal-content" style="width:100%">
                <div class="modal-header font-weight-bold text-primary text-uppercase mb-1 ">Finance Review </div>
                <div class="modal-body" id="modelbody">
                    <form id="form">
                        <fieldset id="submitforma">
                            <div>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/OnlineBOM/Quote/Edit.js">
    </script>
}
<script>
    var IsOppClosed = true;

    $('a[data-attr=BOM_SalesStatusAnchor]').each(function (index, value) {
        if ($(this).attr('data-salesstatus') != 'Closed') {
            IsOppClosed = false;
            return false;
        }
    });

    //If the Opp is closed
    if (IsOppClosed) {
        $('#AnchAllBoms').css('display', 'none');
        $('#AnchOnlyActiveBoms').css('display', 'none');
    }

    function SetDeleteAttributes(BOM, OPP, VERSION) {
        debugger;

        $('#btnDeleteBOM').attr('data-bomid', BOM);
        $('#btnDeleteBOM').attr('data-OppID', OPP);
        $('#btnDeleteBOM').attr('data-VersionNum', VERSION);
    }
    function AddNewBom(BOMID, oppurtunityID, ActivateNew) {
        debugger;
        $('#ADDBOMModal_ActiveConfirm').modal('hide');
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/quote/AddNewBOM',
            data: { "BOMID": BOMID, "oppurtunityID": oppurtunityID, "ActivateNew": ActivateNew },
            success: function (r) {
                if (r === "BOM deleted Successfully") {
                    location.reload();
                }
                else {
                    $('#error').text(r)
                    ErrorAlert();
                }
            }
        });
    }

    function SetActivateInActivate_Attributes(BOM, OPP, VERSION) {
        debugger;
        $('#btnActivateInActivate_BOM').attr('data-bomid', BOM);
        $('#btnActivateInActivate_BOM').attr('data-OppID', OPP);
        $('#btnActivateInActivate_BOM').attr('data-VersionNum', VERSION);

    }
    $(document).ready(function () {

        $('#btnDeleteBOM').click(function () {
            debugger;
            var ID = 'tr_' + $(this).attr('data-bomid') + '_' + $(this).attr('data-OppID') + '_' + $(this).attr('data-VersionNum');
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/quote/DeleteBOM',
                data: { "BOMID": $(this).attr('data-bomid'), oppurtunityID: $(this).attr('data-OppID'), VersionNum: $(this).attr('data-VersionNum') },
                success: function (r) {
                    if (r === "BOM deleted Successfully") {
                        $("#DeleteBOMModal").modal('hide');

                        $('#' + ID).css('display', 'none');
                    }
                    else {
                        $('#error').text(r)
                        ErrorAlert();
                    }
                }
            });
        });

        //button add BOM click
        $('#btnAddNewBOM').click(function () {
            debugger;
            var CanAdd = true;
            var SelectedBOMToAdd = $('#SelectBOMs').val();// The BOM ID which the user is trying to add
            var SelectedOpprtID = 0; // The Oppurtunity ID for the BOM
            var SelectedBOMGridStatus = "";// The status of the BOM type user trying to add

            //Grid Sales Status column's Anchor
            $('a[data-attr="BOM_SalesStatusAnchor"]').each(function (ind, val) {
                SelectedOpprtID = $(this).attr('data-OpprID');
                if ($(this).attr('data-BOMID') === SelectedBOMToAdd) {
                    SelectedBOMGridStatus = $(this).attr('data-SalesStatus').trim();
                    if (SelectedBOMGridStatus.trim().toLowerCase() === "new") {
                        CanAdd = false;
                        return false;
                    }
                }
            });

            //hide the current Add modal
            $("#ADDBOMModal").modal('hide');

            if (SelectedBOMGridStatus == "New")
                alert('Please save the existing New BOM before adding another one of same type!');

            if (SelectedBOMGridStatus == "Closed")
                alert('The Oppurtunity is already closed!');


            //show the confirm Add Modal
            if (CanAdd) {
                $('#ADDBOMModal_ActiveConfirm').modal('show');

                //set the BOM + Opp ID in attr of YES+NO Button to be sent to the back end
                $('#btnAddNewBOM_ActiveConfirmYes').attr('data-BOMID', SelectedBOMToAdd);
                $('#btnAddNewBOM_ActiveConfirmYes').attr('data-OppID', SelectedOpprtID);
                $('#btnAddNewBOM_ActiveConfirmNo').attr('data-BOMID', SelectedBOMToAdd);
                $('#btnAddNewBOM_ActiveConfirmNo').attr('data-OppID', SelectedOpprtID);
                return false;
            }
        });

        //button add BOM confirm click yes for activating New BOM
        $('#btnAddNewBOM_ActiveConfirmYes').click(function () {
            AddNewBom($(this).attr('data-BOMID'), $(this).attr('data-OppID'), "Yes");
        });

        //button add BOM confirm click No for not activating New BOM
        $('#btnAddNewBOM_ActiveConfirmNo').click(function () {
            AddNewBom($(this).attr('data-BOMID'), $(this).attr('data-OppID'), "No");
        });

        $('#btnActivateInActivate_BOM').click(function () {
            debugger;
            var ID = 'tr_' + $(this).attr('data-bomid') + '_' + $(this).attr('data-OppID') + '_' + $(this).attr('data-VersionNum');

            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/quote/ChangeActiveStatusBOM',
                data: { "BOMID": $(this).attr('data-bomid'), oppurtunityID: $(this).attr('data-OppID'), VersionNum: $(this).attr('data-VersionNum') },
                success: function (r) {
                    if (r === "BOM updated Successfully") {
                        $("#ActivateInActivate_BOMModal").modal('hide');
                        location.reload();
                        //$('#' + ID).css('display', 'none');
                    }
                    else {
                        $('#error').text(r)
                        ErrorAlert();
                    }
                }
            });
        });

        $('#AnchAllBoms').click(function () {
            $('#AnchAllBoms').css('display', 'none');
            $('#AnchOnlyActiveBoms').css('display', '');

            $('a[data-attr=BOM_SalesStatusAnchor]').each(function (index, value) {
                //Show all the rows
                var ID = 'tr_' + $(this).attr('data-bomid') + '_' + $(this).attr('data-opprid') + '_' + $(this).attr('data-versionnum');
                $('#' + ID).css('display', '');
            });
        });

        $('#AnchOnlyActiveBoms').click(function () {
            $('#AnchAllBoms').css('display', '');
            $('#AnchOnlyActiveBoms').css('display', 'none');

            $('a[data-attr=BOM_SalesStatusAnchor]').each(function (index, value) {
                //Show all the rows
                var ID = 'tr_' + $(this).attr('data-bomid') + '_' + $(this).attr('data-opprid') + '_' + $(this).attr('data-versionnum');
                $('#' + ID).css('display', '');

                if ($(this).attr('data-isactive') != 'True')
                    $('#' + ID).css('display', 'none');//Hide only the Inactive Rows

            });

        });

    });//document ends
</script>